server:
  port: 8084

spring:
  application:
    name: order-service
  cloud:
    config:
      enabled: false
  datasource:
    url: jdbc:postgresql://postgres:5432/ecommercedb
    username: postgres
    password: secret
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  redis:
    host: redis.ecommerce.svc.cluster.local
    port: 6379
    password: ${REDIS_PASSWORD:password123}
    timeout: 5000ms
    lettuce:
      pool:
        max-active: 8
        max-idle: 8
        min-idle: 0
        max-wait: -1ms
  cache:
    type: redis
    redis:
      time-to-live: 1800000  # 30 minutes in milliseconds
      cache-null-values: false
      key-prefix: cache
      use-key-prefix: true
  data:
    redis:
      repositories:
        enabled: false  # Disable Spring Data Redis repositories if not needed
  jackson:
    deserialization:
      fail-on-unknown-properties: false
    serialization:
      fail-on-empty-beans: false
    default-property-inclusion: non_null
    
eureka:
  instance:
    lease-renewal-interval-in-seconds: 30
    lease-expiration-duration-in-seconds: 90
    prefer-ip-address: true
    non-secure-port: ${server.port}
  client:
    service-url:
      defaultZone: http://discovery-service:8761/eureka/


management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus,gateway
  endpoint:
    health:
      show-details: always
    prometheus:
      access: read-only
  metrics:
    enable:
      http: true
      jvm: true
      logback: true
      system: true
    distribution:
      percentiles-histogram:
        "[http.server.requests]": true
    tags:
      application: ${spring.application.name}
      environment: ${spring.profiles.active:default}
  prometheus:
    metrics:
      export:
        enabled: true
        step: 1m